{% extends "base.html" %}

{% block title %}Biography - J. Ripper Jr.{% endblock %}

{% block content %}
<h1 class="mb-4">Biography</h1>
<div class="row">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/drummer.svg') }}" alt="J. Ripper Jr." class="img-fluid rounded mb-3">
    </div>
    <div class="col-md-8">
        <p>J. Ripper Jr., aged 55, is embarking on an exciting new chapter in his life as the drummer for The Bleecker Street Rippers. After a successful career as a CEO, J. Ripper Jr. has decided to pursue his lifelong dream of playing drums in a band.</p>
        
        <p>While his business acumen led him to great heights in the corporate world, J. Ripper Jr.'s passion for music never waned. He often found himself tapping out rhythms on his desk during board meetings or listening to his favorite drummers during his commute.</p>
        
        <p>In a bold move that surprised many, J. Ripper Jr. stepped down from his executive position to dedicate himself fully to his musical aspirations. He invested countless hours in drum lessons and practice, determined to make up for lost time.</p>
        
        <p>His hard work paid off when he joined The Bleecker Street Rippers, a local band known for their energetic performances and eclectic mix of rock and blues. As the newest member of the band, J. Ripper Jr. brings a unique perspective and infectious enthusiasm to every rehearsal and performance.</p>
        
        <p>J. Ripper Jr.'s journey from the boardroom to the drum kit is a testament to the power of following one's dreams, regardless of age or background. His story inspires others to pursue their passions and reminds us that it's never too late to start a new adventure.</p>
    </div>
</div>

<section class="my-5">
    <h2 class="mb-4">Career Highlights</h2>
    <ul class="list-group">
        <li class="list-group-item">2024: Joined The Bleecker Street Rippers as their drummer</li>
        <li class="list-group-item">2023: Began intensive drum lessons and practice</li>
        <li class="list-group-item">2022: Stepped down as CEO to pursue music full-time</li>
        <li class="list-group-item">1995-2022: Successful career as a CEO in the business world</li>
        <li class="list-group-item">1969: Born with a natural rhythm and love for music</li>
    </ul>
</section>
{% endblock %}
