{% extends "base.html" %}

{% block title %}Gallery - J. Ripper Jr.{% endblock %}

{% block content %}
<h1 class="mb-4">Gallery</h1>

<div class="row">
    <div class="col-md-4 mb-4">
        <img src="{{ url_for('static', filename='images/gallery1.jpg') }}" alt="J. Ripper Jr. Performance 1" class="img-fluid rounded">
    </div>
    <div class="col-md-4 mb-4">
        <img src="{{ url_for('static', filename='images/gallery2.jpg') }}" alt="J. Ripper Jr. Performance 2" class="img-fluid rounded">
    </div>
    <div class="col-md-4 mb-4">
        <img src="{{ url_for('static', filename='images/gallery3.jpg') }}" alt="J. Ripper Jr. Performance 3" class="img-fluid rounded">
    </div>
    <div class="col-md-4 mb-4">
        <img src="{{ url_for('static', filename='images/gallery4.jpg') }}" alt="J. Ripper Jr. Performance 4" class="img-fluid rounded">
    </div>
    <div class="col-md-4 mb-4">
        <img src="{{ url_for('static', filename='images/gallery5.jpg') }}" alt="J. Ripper Jr. Performance 5" class="img-fluid rounded">
    </div>
    <div class="col-md-4 mb-4">
        <img src="{{ url_for('static', filename='images/gallery6.jpg') }}" alt="J. Ripper Jr. Performance 6" class="img-fluid rounded">
    </div>
</div>

<h2 class="mb-4 mt-5">Videos</h2>

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/VIDEO_ID_1" title="J. Ripper Jr. Live Performance 1" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/VIDEO_ID_2" title="J. Ripper Jr. Live Performance 2" allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock %}
